<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Vue.js testing</title>
  </head>
  <body>
    <h1>{{ fullName }}</h1>
    <input type="text" v-model="first" placeholder="first name">
    <input type="text" v-model="last" placeholder="last name">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.js"></script>
    <script>
      new Vue({
        el: 'body',

        data: {
          first: '',
          last: ''
        },

        computed: {
          fullName: function(){
            return this.first + ' ' + this.last;
          }
        }
      });
    </script>
  </body>
</html>
